.curtain {
    background: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.popup {
    background: #fff;
    float: left;
    position: relative;
    max-width: 100%;
    z-index: 0;
}
.popup iframe,
.popup img,
.popup table,
.popup div,
.popup ul {
    max-width: 100% !important;
}
.popup img {
    height: auto !important;
}
.popup .close-btn {
    background: #000;
    color: #fff;
    font-family: arial, sans-serif;
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    z-index: 2;
}
.popup-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
}
